 <header>
        <nav>
            <img src="/Logo.png" alt="Logo">
            <ul id="first">
               <a href="/" class="menuitem"><li>Início</li></a> 
                <a href="" class="menuitem"><li>Sobre</li></a>
                <a href="/contato" class="menuitem"><li>Contato</li></a>
            </ul>
            </div>
        </nav>
    </header>