<aside id="menu">
    <input id="inp" type="text" placeholder="    Pesquise aqui">
    <ul id="tema">
        <h2 class="titleaside">Categorias</h2>
        <a href="/Tecnologia" class="categItem"><label for="Tecnologia"><li>Tecnologia</li></label></a> 
        <a href="/EstiloDeVida" class="categItem"><label for="EstiloDeVida"><li>Estilo de Vida</li></label> </a>              
        <a href="/Arte" class="categItem"><label for="Arte"><li>Arte</li></label> </a>               
        <a href="/Comida" class="categItem"><label for="Comida"><li>Comida</li></label> </a>               
        <a href="/Aventura" class="categItem"><label for="Aventura"><li>Aventura</li></label>  </a>             
        <a href="/Moda" class="categItem"><label for="Moda"><li>Moda</li></label> </a>
    </ul>
    <h2 class="titleaside" id="sect">Publicidade</h2>
    <ul id="pub">
        <li><img src="/pub.png" alt="pub"></li>
        <li><img src="/pub.png" alt="pub"></li>
    </ul>
</aside>